<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>OctopusLab Code Challenge - Geoffroy Givry</title>

    <!-- <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" /> -->
    <link rel="stylesheet" href="{{static_url('css/style.css')}}" media="screen" type="text/css" />

</head>

<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Url</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->

  </head>

  <body>

    <div class="container">

      <div id="login">

          <fieldset class="clearfix">

            <p>
              <form method="post" action="/word_cloud">
              <span class="fontawesome-globe"></span>
              <input type="text" name="my_url" placeholder="URL">
            </p>
            <p><input type="submit" value="Let's Go!"></p>

              </form>

          </fieldset>



        <p>This is a code challenge for <a href="https://octopuslabs.com/">Octopus Labs</a> by <small>Geoffroy Givry</small></p>

      </div> <!-- end login -->

    </div>

  </body>
</html>

</body>

</html>
